.body-flex-container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  margin-block-start: 10%;
}

.fixed-heading {
  position: fixed;
  width: inherit;
  background-color: #2f033d;
  z-index: 3001;
  top: 0px;
  max-width: 1300px;
}

#wk-label {
  width: 25px;
  visibility: visible;
  border-bottom: 1px solid rgba(255, 255, 255, 0.56);
  padding-inline-start: "0.1rem";
  text-align: "center";
  background-color: "unset";
}

@media (max-width: 700px) {
  #wk-label {
    width: 0px;
    visibility: hidden;
  }
}
