.bodyFlexContainer {
  display: flex;
  flex-direction: row;
}

/* Sidebar */
.sidebarLeft,
.sidebarRight {
  display: block;
  margin-block-start: 10%;
  transition: width 0.3s ease;
}

.sidebarLeft {
  padding-right: 1%;
  width: 17vw;
}

.sidebarRight {
  padding-left: 1%;
}

.toggleBtn,
.toggleBtnLeft,
.toggleBtnRight {
  background-color: rgba(47, 3, 61, 1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 1.2em;
}

.toggleBtnRight {
  margin: 0 6px 0 6px;
}

.toggleBtnLeft {
  margin: 0 auto 0 6px;
}

.toggleMenuRight,
.toggleMenuLeft {
  position: fixed;
  z-index: 5000;
  background-color: rgba(47, 3, 61, 1);
  border: 1px solid gray;
  border-radius: 0 0 10px 0;
  top: 111px;
  font-size: 2vh;
  padding: 2vh;
}

.toggleMenuRight {
  right: 0;
  border-radius: 0 0 0 10px;
}

.toggleMenuLeft {
  border-right: "1px solid gray";
  border-bottom: "1px solid gray";
  border-radius: "0px 0px 10px 0px";
  padding: 0px;
}

.overlay {
  position: fixed;
  z-index: 4999;
  background-color: rgba(0, 0, 0, 0.4);
  top: 111px;
  left: 0;
  width: 100%;
  height: 100%;
}

.toolbar,
.mobileToolbar {
  position: sticky;
  top: 20px;
  z-index: 3006;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mobileToolbar {
  display: none;
}

.mobileMenuPopUp {
  display: none;
}

.searchWrapper {
  display: none;
}

/* Mobile */
@media (max-width: 1024px) {
  .sidebarLeft {
    display: none;
    padding-right: 0px;
    width: 0vw;
  }

  .sidebarRight {
    display: none;
    padding-left: 0;
  }

  .mobileToolbar {
    display: flex;
  }

  .toolbar {
    display: none;
  }

  .mobileMenuPopUp {
    display: block;
  }

  .searchWrapper {
    position: sticky;
    top: 111px;
    z-index: 3006;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 3, 61);
    border-bottom: 1px solid gray;
  }
}

.mainContent {
  max-width: 1300px;
}

.weekLabelContainer {
  position: sticky;
  top: 5.05rem;
  z-index: 3005;
  background-color: #2f033d;
  padding-top: 0.3rem;
  display: grid;
  grid-template-columns: auto repeat(7, 1fr);
  align-items: start;
}

.wkLabel {
  width: 25px;
  visibility: visible;
  padding-inline-start: 0.1rem;
  text-align: center;
  padding-right: 2.3%;
  background-color: unset;
}

.dayLabel {
  border-bottom: 1px solid rgba(255, 255, 255, 0.56);
  margin-left: 2.3%;
}

@media (max-width: 700px) {
  .wkLabel {
    width: 0;
    padding: 0;
    visibility: hidden;
  }

  .dayLabel {
    margin-left: 0px;
  }

  .dayLabel + .dayLabel {
    margin-left: 2.3%;
  }

  .weekLabelContainer {
    grid-template-columns: 0 repeat(7, 1fr);
    column-gap: 1px;
  }
}
