.quick-navigation-year {
  margin-block-start: 0em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.quick-navigation-month {
  background-color: unset;
  display: block;
  margin: auto auto 1px;
  border-radius: 0px;
  padding: 0.6em 0em;
  transition: border-color 0.15s;
}

.quick-navigation-month:focus {
  outline: none;
}

.quick-navigation-month:hover {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: #646cff !important;
}

.quick-navigation-panel {
  position: sticky;
  top: 10%; /* Adjust as needed */
  min-width: 7em;
  display: flex;
  flex-direction: row;
}

.nav-year-collapsible {
  background-color: rgb(255, 255, 255, 0.1);
  width: 100%;
  min-height: 41px;
  cursor: pointer;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  text-align: left;
  outline: none;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quick-navigation-panel .active,
.nav-year-collapsible:hover {
  background-color: #ffffff3a;
}

@media (max-width: 1021px) {
  #quick-nav-vert-line {
    display: none;
  }
}
