.day {
  /* border: 1px solid rgba(255, 255, 255, 0.87); */
  overflow: visible;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 160px;
  min-width: 90px;
  background: repeating-linear-gradient(-45deg, transparent 0 3px, var(--timetable-stripes-dark) 3px 6px);
}

.day:nth-of-type(7n + 0), .day:nth-of-type(7n + 1) {
  background: repeating-linear-gradient(-45deg, transparent 0 3px, var(--timetable-stripes-light) 3px 6px);
}

.filler-day {
  /* border: 1px solid rgba(255, 255, 255, 0.87); */
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 90%;
  margin:auto;
  min-height: calc(160 * 90)px;
  min-width: calc(90 * 90)px;
  background: repeating-linear-gradient(-45deg, transparent 0 3px, rgba(255, 255, 255, 0.05) 3px 6px);
}

.filler-day:nth-of-type(7n + 0), .filler-day:nth-of-type(7n + 1) {
  background: repeating-linear-gradient(-45deg, transparent 0 3px, rgba(255, 255, 255, 0.1) 3px 6px);
}

.day h4, h4 {
  margin-block-start: 0.1em;
  margin-inline-start: 0.3em;
  margin-block-end: 0.4em;
}