.quick-navigation-year {
  margin-block-start: 0em;
  margin-block-end: 0.2em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.quick-navigation-month {
  display: block;
  margin: auto auto 1px;
  border-radius: 0px;
  padding: 0.6em 0em;
}

.quick-navigation-month:focus {
  outline: none;
}

.quick-navigation-panel {
  position: sticky;
  top: 10%; /* Adjust as needed */
  margin-left: 10px;
  min-width: 7em;
}

.nav-year-collapsible {
  background-color: rgb(255, 255, 255, 0.1);
  width: 100%;
  min-height: 41px;
  cursor: pointer;
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quick-navigation-panel .active, .year-collapsible:hover {
  background-color: #ccc;
}