#root {
  margin: auto;
  padding: 2rem 1rem 0 1rem;
  text-align: left;
  --timetable-stripes-light: rgba(255, 255, 255, 0.22);
  --timetable-stripes-dark: rgba(255, 255, 255, 0.1);
  --timetable-stripes-public-holiday: rgba(168, 151, 124, 0.4);
}

@media (max-width: 1213px) {
  #root {
    padding: 2rem 0rem 0 0rem;
  }
}

.container {
  display: grid;
  grid-template-columns: auto repeat(7, 1fr);
  column-gap: 0.5%;
  /* row-gap: 1%; */
  align-items: start;
}

.body-flex-container {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
}

.sidebar {
  margin-block-start: 10%;
}

fieldset {
  position: sticky;
  top: 10%; /* Adjust as needed */
  border-color: rgb(255, 255, 255, 0.5);
  border-style: dashed;
  margin-right: 10px;
  min-width: 8em;
}

.fixed-heading {
  /* border: 1px solid red; */
  position: fixed;
  width: inherit;
  background-color: #2f033d;
  z-index: 3001;
  top: 0px;
  max-width: 1300px;
}