#root {
  margin: auto;
  padding: 2rem 1rem 0 1rem;
  text-align: left;
  --timetable-stripes-light: rgba(255, 255, 255, 0.2);
  --timetable-stripes-dark: rgba(255, 255, 255, 0.1);
}

.body-flex-container {
  display: flex;
  flex-direction: row;
}

.period-selector {
  margin-block-start: 10%;
}

fieldset {
  position: sticky;
  top: 10%; /* Adjust as needed */
  border-color: rgb(255, 255, 255, 0.5);
  border-style: dashed;
  margin-right: 10px;
  min-width: 7em;
}